/**
 * @file
 * Styling for access model add form.
 */

.access-condition-options-container-inline {
  display: block;
  margin: 3em 1em 1em 0;
}
.access-condition-options-container-inline div,
.access-condition-options-container-inline label {
  display: inline;
}
.access-condition-options-container-inline .details-wrapper {
  display: block;
}
