/**
 * @file
 * Styles for access model reference field type widget.
 */

.field--type-access-model-reference div.form-type-radio {
  display: inline;
  margin-right: 1em;
}

.field--type-access-model-reference .form-type-radio label:after,
.field--type-access-model-reference .form-type-radio .label:after {
  content: '';
}
